body{
	background: url("https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	width: 100%;
	background-position: center;
}
#overlay{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
}
.col-lg-6{
	margin: 0 auto;
}
#title{
	font-family: 'Alata', sans-serif;
}
#description{
	font-family: 'PT Sans', sans-serif;
}
#survey-form{
	background-color:#26264dc7;
}